{% set sectionsAfterToc = keystonePages.slice(1) %}
<nav id="toc">
    <ol>
        {% for section in sectionsAfterToc %}
            <li>
                <a href="#section-{{ loop.index }}">{{ section.title }}</a>
            </li>
        {% endfor %}
    </ol>
</nav>